#offer {
  padding: 100px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .offer-left-col {
    flex-basis: 50%;

    img {
      width: 100%;
    }
  }

  .offer-righ-col {
    flex-basis: 50%;
    text-align: right;
  }

  .offer-text {
    max-width: 500px;
    margin-right: 100px;
    display: inline-block;

    .offer-title {
      font-size: 1.5rem;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      font-weight: 600;
      margin: 15px;
      font-family: 'Ubuntu', sans-serif;
      &::after {
        content: "";
        width: 10rem;
        height: 0.5rem;
        background: #f67c92;
        display: inline-block;
        bottom: -1rem;
        margin: 15px 0;
        border-radius: 2rem;
      }
    }

    .offer-parrafo {
      font-size: 1.2rem;
      letter-spacing: 0.1rem;
      color: #333;
      font-weight: 300;
      margin: 15px;
      font-family: 'Taviraj', serif;
    }

    .offer-title-2 {
      font-size: 1rem;
      letter-spacing: 0.1rem;
      margin: 50px 15px 10px;
      font-size: 1.5rem;
      font-weight: 500;
      font-family: 'Taviraj', serif;
    }

    .offer-title-3 {
      font-size: 1.5rem;
      letter-spacing: 0.2rem;
      margin: 15px;
      font-weight: 500;
      color: #333;
      font-family: 'Overpass', sans-serif;
    }
  }
}

@media only screen and (max-width: 770px) {
  #offer {
    .offer-left-col {
      flex-basis: 100%;
    }
    .offer-righ-col {
      flex-basis: 100%;
    }
    .offer-text {
      margin: 50px 50px 0;
    }
    .offer-title-2 {
      font-size: 2rem;
    }
    .offer-title-3 {
      font-size: 1.4rem;
    }
  }
}
